## Data Preparation
#### Nesta fase os dados foram preparados para integração em modelos de machine learning na fase de Modeling
#### As séries temporais "male", "female", "young" e "adult" foram retiradas dos dados uma vez que o nosso objetivo é orientado para a série "all"
#### A coluna "date" também foi removida porque apenas serve para nos situarmos no tempo, para a divisão dos dados em antigos=treino, recentes=teste. Além disso a sua natureza única (única por observação) apenas iria trazer incerteza para os modelos.
#### Para lidar com os valores outliers foram criados 2 cenários:
<ul>
    <li><b>Com outliers</b> - Neste cenário os valores outliers não foram tratados</li>
    <li><b>Sem outliers s/ compensação</b> - Neste cenário os valores outliers foram tratados</li>

</ul>

#### Por fim os dados de cada cenário foram exportados para os respetivos ficheiros csv para poderem ser utilizados nas fases seguintes

In [4]:
library(tidyverse)

In [11]:
# Importar os dados
data <- read.csv(file = '../data/store.csv', sep = ';')
head(data)

  date       all  female male young adult weather maxtemp RH maxwind
1 2013-04-09 2332 1115   1108 1122  1210  Rain    13      87  0
2 2013-04-10 2801 1217   1459 1239  1562  Rain    14      94 45
3 2013-04-11 2375 1168   1099 1059  1316  Rain    14      82 55
4 2013-04-12 3447 1617   1651 1606  1841  Sunny   13      78  0
5 2013-04-13 4823 2469   2117 2318  2505  Rain    16      81 37
6 2013-04-14 4978 2564   2223 2289  2689  Rain    16      73  0

In [12]:
# Remover a data e restantes séries temporais do dataframe 
# (ter cuidado com o metodo profet) / saber se é feriado pode ser util ou o dia da semana
data <- data %>%
    select(-date,-female,-male,-young,-adult)

# Substituir a variavel categórica weather por 0=RAIN e 1=SUNNY 
data$weather <- ifelse(data$weather=="Rain", 0, 1)

# Tratar outliers (fazer os cenarios)
# cenario 1 - com os outliers
# cenario 2 - sem os outliers
# cenario 3 - com definicao dos feriados c/ outliers
# cenario 4 - com definicao dos feriados s/ outliers
# cenario 5 - com feriados e definicao de dias(segunda, terça...domingo) c outliers
# cenario 6 - com feriados e definicao de dias(segunda, terça...domingo) s outliers

# o resto das time series no fim


# Ver como ficou o dataframe
head(data)

  all  weather maxtemp RH maxwind
1 2332 0       13      87  0
2 2801 0       14      94 45
3 2375 0       14      82 55
4 3447 1       13      78  0
5 4823 0       16      81 37
6 4978 0       16      73  0

In [14]:
# Exportar os dados preparados para o seu csv respetivo

write.csv(data, "./exported data/dadosPrep.csv")